<!-- Details -->
<%= render Shared::CardComponent.new(title: 'Details', options: { card: { html_options: { data: { controller: 'modal' }}}}) do |card| %>
    <% card.with_button(title: 'Edit', path: edit_admin_facility_path(facility)) %>

    <% if facility.discarded? %>
        <% card.with_button(title: 'Undiscard', path: admin_facility_path(facility, undiscard: true), method: :put, icon_class: 'fa-trash-restore') %>
    <% else %>
        <% card.with_button(title: 'Discard', path: admin_facility_path(facility), method: :delete, icon_class: 'fa-trash-alt', data: { action: "click->modal#show" }) %>

        <!-- Modal for the Discard action -->
        <%= form_with model: facility, url: admin_facility_path(facility), method: :delete do |form| %>
            <div id="reason_modal" class="modal" data-modal-target= "modalContainer">
                <div class="modal-background"></div>

                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Confirm Facility Discard</p>
                        <button class="delete" aria-label="close"></button>
                    </header>

                    <section class="modal-card-body">
                        <!-- Content ... -->
                        Please give a reason for discarding the
                        <span class="is-underlined"><%= facility.name %></span> facility:

                        <div class="select">
                            <%= form.select :discard_reason, Facilities::DiscardReasonComponent.select_options %>
                        </div>
                    </section>

                    <footer class="modal-card-foot">
                        <button class="button is-success">Discard</button>
                        <button class="button", data-action="click->modal#hide">Cancel</button>
                    </footer>
                </div>
            </div>
        <% end %>
    <% end %>

    <div class='columns'>
        <div class='column'>
            <table class='table'>
                <tr>
                    <th>Status:</th>
                    <td>
                        <%= render Facilities::StatusComponent.new(facility.status) %>
                        <%= render Facilities::StatusComponent.new(facility.status, variant: :title) %>

                        <p class="is-size-4">
                            <%= switch_status_button %>
                        </p>
                    </td>
                </tr>

                <tr>
                    <th>Reason</th>
                    <td><%= render Facilities::DiscardReasonComponent.new(facility.discard_reason) %></td>
                </tr>

                <tr>
                    <th>Name:</th>
                    <td><%= facility.name %></td>
                </tr>

                <tr>
                    <th>Phone Number:</th>
                    <td><%= facility.phone %></td>
                </tr>
                <tr>
                    <th>User:</th>
                    <td>
                        <% if user.blank? %>
                            <%= tag.span 'Not Present', class: 'tag is-danger'%>
                        <% else %>
                            <%= render Users::StatusComponent.new(user, show_title: true) %>

                            <br/>
                            <%= user.name %> |
                            <%= user.email %>
                        <% end %>
                    </td>
                </tr>

                <tr>
                    <th>Last Updated:</th>
                    <td>
                        <time datetime="<%= facility.updated_at %>">
                            <%= facility.updated_at %>
                        </time>
                    </td>
                </tr>
            </table>
        </div>

        <div class='column'>
            <!-- Descriptions -->
            <table class='table'>
                <tr>
                    <th>Website:</th>
                    <td><%= link_to_website %></td>
                </tr>

                <tr>
                    <th>Description:</th>

                    <td>
                        <%= simple_format facility.description %>
                    </td>
                </tr>

                <tr>
                    <th>Notes:</th>

                    <td>
                        <%= simple_format facility.notes %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<% end %>
