<div class='box' id='<% card_id %>'>
    <div class="columns">
        <div class="column">
            <span class="icon-text">
                <span class='title'>
                    <%= facility.name %>
                </span>
            </span>
        </div>
    </div>
</div>

<div class='columns'>
    <div class='column'>
        <%= render DetailsCardComponent.new(facility: facility) %>
    </div>
</div>

<div class='columns'>
    <div class='column'>
        <%= render ScheduleCardComponent.new(facility: facility) %>

        <%= render LocationCardComponent.new(facility: facility) %>
    </div>

    <div class='column'>
        <%= render WelcomesCardComponent.new(facility: facility) %>

        <%= render ServicesCardComponent.new(facility: facility) %>
    </div>
</div>

