<%= form_with(url: admin_facility_locations_path(facility_id: facility&.id),
              data: { turbo_frame: "location_search" },
              method: :get) do |form| %>

    <%= render Shared::CardComponent.new(title: 'Assign New Address') do |card| %>
        <div data-controller="navigate">
            <p>Please, search the address and select the relevant address to assign to the facility</p>

            <div class="field is-grouped">
                <%= form.label :q, "Search:", class: "label" %>

                <div class="control">
                    <%= form.text_field :q, class: "input" %>

                </div>

                <div class="control">
                    <%= form.submit "Search", class: "button is-primary" %>

                </div>
            </div>

            <%= turbo_frame_tag "location_search" do %>
                <%= render("admin/facility_locations/search_result", locations: locations) if locations.present?%>
            <% end %>
        </div>
    <% end %>
<% end %>
