<%= render Shared::CardComponent.new(title: "Services") do |card| %>
    <!-- Services -->
    <fieldset class="field">
        <legend class="label">Services:</legend>

        <div class="block">
            <div class="field">
                <div class="columns is-multiline">
                    <% @facility.services_list.each_pair do |service_key, service| %>
                        <div class="column is-one-third">
                            <%= label_tag "facility_services_list_#{service_key}" do %>
                                <%= check_box_tag "facility[services_list][#{service_key}]", service_key,  service.present?, data: { target_note: "#{service_key}_note" } %>
                                <%= service_key.to_s.titleize %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="block">
            <div class='field'>
            <div class="container">
                <p><span class="has-text-weight-bold">Service Notes</span> - Add any notes relevant to specific services such as special hours, or eligibility concerns.</p>
                <p>Eg: "Lunch served between 11:30am and 1:30pm"</p>
            </div>

            <div class="columns is-multiline">
                <div class="column is-one-third" id='shelter_note'>
                    <div class="field">
                        <%= form.label :shelter_note, "Shelter Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :shelter_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third" id='food_note'>
                    <div class="field">
                        <%= form.label :food_note, "Food Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :food_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third" id='medical_note'>
                    <div class="field">
                        <%= form.label :medical_note, "Medical Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :medical_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third" id='hygiene_note'>
                    <div class="field">
                        <%= form.label :hygiene_note, "Hygiene Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :hygiene_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third" id='technology_note'>
                    <div class="field">
                        <%= form.label :technology_note , "Technology Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :technology_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third" id='legal_note'>
                    <div class="field">
                        <%= form.label :legal_note , "Legal Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :legal_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third" id='learning_note'>
                    <div class="field">
                        <%= form.label :learning_note , "Learning Note:", class: "label" %>
                        <div class="control">
                            <%= form.text_area :learning_note, rows: 5, class: "textarea" %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </fieldset>
<% end %>
