<%= render Shared::CardComponent.new(title: "Hours") do |card| %>

    <div>
        <% test = @facility.schedules %>
    </div>

    <!-- Sunday -->
    <%= form.fields_for :schedule, @facility.schedule do |schedule_fields| %>
        <%= schedule_fields.fields_for :sunday, schedule_fields.object.sunday do |sunday_fields| %>
            <div>
                <% console %>

                <div class='level'>
                    <div class='level-left'>
                        <p class='level-item has-text-weight-bold is-size-5'>Monday</p>
                    </div>

                    <div class='level-item'>
                        <div class='control'>
                            <% Schedule.availabilities.each do |availability| %>
                                <label class='radio'>
                                    <%= sunday_fields.radio_button :availability,  availability %>
                                    <%= availability.to_s.titleize %>
                                </label>
                            <% end %>
                        </div>
                    </div>

                    <div class='level-right'>
                        <div class='level-item'>
                            <label class='label'>
                                <%= check_box_tag :use_slot2, sunday_fields.object.uses_slot2? %>
                                Use Slot 2
                            </label>
                        </div>
                    </div>
                </div>

                <div class='field'>
                    <% 2.times do |i| %>
                        <%= sunday_fields.fields_for 'times[]', sunday_fields.object.times[i] do |time_fields| %>
                            <div class='box'>
                                <p>Slot <%= i+1 %></p>
                                <div class='field is-horizontal'>
                                    <%= time_fields.label :from, "Starts at:", class: 'label' %>
                                    <%= time_fields.time_field :from, class: 'input' %>
                                </div>

                                <div class='field is-horizontal'>
                                    <%= time_fields.label :to, "Ends at:", class: 'label' %>
                                    <%= time_fields.time_field :to, class: 'input' %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>

                <%= sunday_fields.text_field :week_day %>
            </div>
        <% end %>
    <% end %>










    <span>
    Note: The start time and end time for a day cannot be identical. Check the "Second time" option to specify a second time range.
    </span>

    <%# field_for @facility.schedule['sunday']['times'][ %>
    <%#= form.time_field :schedule %>
    <!-- Name -->
    <div class="field">
        <%= form.label :name, "Name:", class: "label" %>
        <div class="control">
            <%= form.text_field :name, class: "input" %>
        </div>
        <p class="help is-danger">This is a help text</p>
    </div>

    <!-- Welcomes -->
    <div id='welcomes_field'>
        <%= form.label :welcomes, "Welcomes:", class: "label" %>

        <div class="field is-grouped is-grouped-multiline">
            <% @facility.welcomes_list.each_pair do |welcome_key, welcome| %>
                <div class="column is-half-desktop is-one-third-fullhd">
                    <%= label_tag "facility_welcomes_list_#{welcome_key}", class: 'svg-icons' do %>
                        <%= check_box_tag "facility[welcomes_list][#{welcome_key}]", welcome_key, welcome.present? %>
                        <%= render Facilities::WelcomesIconComponent.new(welcome_key) %>
                        <%= welcome_key.to_s.titleize %>
                    <% end %>
                </div>
            <% end %>
        </div>

    </div>
<% end %>
