<div class="container">
    <%= form_with model: [:admin, @facility] do |form| %>
        <!-- Action Buttons -->
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <%= form.submit class: "button is-primary" %>
            </div>

            <div class="control">
                <%= link_to "Back", admin_facility_path(@facility), class: "button is-light" %>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <%= render 'form_card_details', form: form %>
            </div>
        </div>


        <%= render 'form_card_descriptions', form: form %>
    <% end %>
</div>
