<nav class="container">
    <div class="level">
        <div class="level-left">
            <h1 class="title">
                Facilities (<%= @pagy.count %>)
            </h1>
        </div>
      
        <div class="level-right">
            <%= link_to "New Facility", new_admin_facility_path, class: "button is-light level-item" %>
        </div>
    </div>

        <%= form_with url: admin_facilities_path, method: :get, data: { controller: "auto-submit" } do |form| %>
        <div class="columns">
            <div class="column">
                <div class="select">
                    <%= form.select(:status,
                                    Facility.statuses.map{[_1.to_s.titleize, _1]},
                                    { include_blank: "Status", selected: params[:status] },
                                    {
                                        data: { action: "change->auto-submit#change" }
                                    }) %>
                </div>

                <div class="select">
                    <%= form.select(:service_id,
                                    @services_dropdown,
                                    { include_blank: "Service", selected: params[:service_id] },
                                    {
                                        data: { action: "change->auto-submit#change" }
                                    }) %>
                </div>

                <div class="select">
                    <%= form.select(:welcome_customer,
                                    @welcomes_dropdown,
                                    { include_blank: "Welcome", selected: params[:welcome_customer] },
                                    {
                                        data: { action: "change->auto-submit#change" }
                                    }) %>
                </div>
            </div>

            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <%= form.text_field :q, value: params[:q], class: "input", placeholder: "Search" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</nav>

<hr/>
<div class="container">
    <% @facilities.each do |facility| %>
        <%= render Facilities::CardComponent.new(facility: facility) %>
    <% end %>
</div>

<hr/>
<div class="container" data-controller='pagy'>
  <%== pagy_bulma_combo_nav_js(@pagy) %>
</div>
