<%= render Shared::CardComponent.new(title: 'Alert Details') do |card| %>
    <div class="field">
        <div class="control">
            <%= form.label :active, class: "checkbox" do %>
                Active:
                <%= form.check_box :active, class: "checkbox" %>
            <% end %>
        </div>
    </div>

    <div class="field">
        <%= form.label :title, "Title:", class: "label" %>
        <div class="control">
            <%= form.text_field :title, class: "input" %>
        </div>
    </div>

    <div class="field">
        <%= form.label :content, "Content:", class: "label" %>
        <div class="control">
            <%= form.rich_text_area :content %>
        </div>
    </div>
<% end %>
