<%# Expects to receive a form object and a disabled boolean
    @params form -> a Rails' form builder object
    @params disabled -> boolean to configure if the fields are supposed to be disabled
#%>

<%= render Shared::CardComponent.new(title: 'Password') do |card| %>
    <div class="field">
        <%= form.label :password, "Password:", class: "label" %>
        <div class="control">
            <%= form.password_field :password, class: "input" %>
        </div>
    </div>

    <div class="field">
        <%= form.label :password_confirmation, "Password Confirmation:", class: "label" %>
        <div class="control">
            <%= form.password_field :password_confirmation, class: "input", disabled: disabled %>
        </div>
    </div>
<% end %>

