<div class="card facility mb-2", id: <%= card_id %> >
    <header class="card-header level mb-1">
        <div class="level-left">
            <div class="card-header-title">
                <%= link_to admin_facility_path(facility) do %>
                    <span>
                        <%= facility.name %>
                    </span>
                <% end %>

            </div>
        </div>

        <div class="level-right">
            <div class="level-item mr-3">
                <span class="icon-text">
                    <%= render Facilities::StatusComponent.new(facility.status) %>
                    <span>
                        <%= render Facilities::StatusComponent.new(facility.status, variant: :title) %>
                    </span>
                </span>
            </div>
        </div>
    </header>

    <div class="card-content pt-2 pb-2">
        <div class="columns">

            <div class="column">
                Services:
                <% if facility.facility_services.blank? %>
                    <span class="tag is-danger">None</span>
                <% else %>
                    <% facility.facility_services.compact_blank.each do |service| %>
                        <span class="tag is-light"><%= service.name %></span>
                    <% end %>
                <% end %>

                <br/>
                <div class='svg-icons'>
                    <span>Welcomes:</span>
                    <% if facility.facility_welcomes.blank? %>
                        <span class='tag is-danger'>None</span>
                    <% else %>
                        <% facility.facility_welcomes.each do |welcome| %>
                            <%= render Facilities::WelcomesIconComponent.new(welcome.customer) %>
                        <% end %>
                    <% end %>
                </div>

                <br/>
                <%= facility.address %>
            </div>

            <div class="column">
                User:
                <% if facility.user.blank? %>
                    <%= tag.span 'Not Present', class: 'tag is-danger'%>
                <% else %>
                    <%= render Users::StatusComponent.new(facility.user, show_title: true) %>

                    <br/>
                    <%= facility.user.name %> |
                    <%= facility.user.email %>
                <% end %>
            </div>

        </div>
    </div>

    <footer class="card-footer">
        <div class="card-footer-item has-text-weight-light is-size-7 pt-1 pb-1">
            <time datetime="<%= facility.updated_at %>">
                Last Updated on
                <%= facility.updated_at %>.
            </time>
        </div>
    </footer>
</div>
