<!DOCTYPE html>
<html>
  <head>
      <title>LinkvanApi</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- Header -->
    <header>
      <%= render Layout::HeaderComponent.new %>
    </header>

    <!-- Flash messages -->
    <section class="section" id="flash_messages">
      <%= render Layout::FlashComponent.new %>
    </section>

    <!-- Content -->
    <section class="section">
      <%= yield %>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <%= render Layout::FooterComponent.new %>
    </footer>
  </body>
</html>
